.jumbotron {
    text-align: center;
    margin-top: 0px;
    margin-bottom: -20px;
    font-family: 'Julius Sans One',
    sans-serif;
    color: black;
    background-color: white;
}

.item {
    display: inline-block;
    margin: 15px;
    border-top: solid;
    border-right: solid;
    border-left: solid;
    border-color: black;
    background-color: black;
    color: white;
}

.goat {
    padding: 10px;
    border: none;
    background: none;
    margin: 5px;
    color: black;
}

.collapse {
    font-family: 'Patua One', cursive;
    font-size: larger;
}

.aboutButton {
    background-color: white;
    border: none;
    font-size: x-large;
}

header {
    font-size: 100px;
    padding: -10px;
}

button:hover {
    color: white;
    background-color: black;
    border-radius: 20px;
}

p {
    text-align: center;
    vertical-align: middle;
    color: white;
    font-family: 'Patua One', cursive;
    font-size: larger;
}

h2 {
    text-align: center;
    color: black;
    font-family: 'Julius Sans One', sans-serif;
}

h3 {
    font-size: 40px;
}

#logoat {
    width: 100px;
    display: block;
    margin: auto;
}

#aboutGoat {
    text-align: justify;
}

#goat-input {
    padding: 0;
    background: none;
    margin: 5px;
    color: black;
}

#add-goat {
    padding: 5px;
    border: solid;
    background-color: black;
    margin: 5px;
    color: white;
}

#goat-form {
    font-family: 'Patua One', cursive;
    text-align: center;
    font-size: x-large;

}

#gifButtons {
    font-family: 'Julius Sans One',
    sans-serif;
    font-size: larger;
}
