.jumbotron {
    text-align: center;
    margin-top: 20px;
    font-family: 'Julius Sans One',
    sans-serif;
    color: slategrey;
    background-color: black;
}

.item {
    display: inline-block;
    margin: 15px;
    border-top: solid;
    border-right: solid;
    border-left: solid;
    border-color: black;
    background-color: black;
    color: white;
}

.goat {
    padding: 0;
    border: none;
    background: none;
    margin: 5px;
    color: black;
}

.collapse {
    font-family: 'Patua One', cursive;
    font-size: larger;
}

.aboutButton {
    background-color: black;
    border: none;
}

p {
    text-align: center;
    vertical-align: middle;
    color: white;
    font-family: 'Patua One', cursive;
    font-size: larger;
}

h2 {
    text-align: center;
    color: black;
    font-family: 'Julius Sans One', sans-serif;
}

#goat-input {
    padding: 0;
    background: none;
    margin: 5px;
    color: black;
}

#add-goat {
    padding: 5px;
    border: solid;
    background-color: black;
    margin: 5px;
    color: white;
}

#goat-form {
    font-family: 'Patua One', cursive;
    text-align: center;
    font-size: x-large;

}

#gifButtons {
    font-family: 'Julius Sans One',
    sans-serif;
    font-size: larger;
}
